<!--
Dessa forma configura a formatação que o body
terá no caso o body será o conteudo da mensagem
-->
<div
  style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #222; max-width: 600px">
  {{{body}}}
  <!-- assim importamos os partials-->
  {{>footer}}
</div>
